.gradle
.project
.classpath
.settings
geo-api/bak
geo-api/build
geo-api/.classpath
geo-api/.project
geo-api/.settings
geo-api/bin
geo-submgr/build
geo-submgr/.classpath
geo-submgr/.project
geo-submgr/.settings
geo-submgr/bin
docs/build
